{% load static %}

<!DOCTYPE html>
<html>
<head>
  <head>
    <title>Mon Blog</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    
    <div class="logo-container">
        <img src="{% static 'images/dsma_logo_white.png' %}" alt="Logo DSMA" class="logo">
    </div>
    
</head>
<body>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Pas encore membre ? <a href="{% url 'register' %}">Inscrivez-vous ici</a></p> <!-- Ajoute cette ligne si tu as une page d'inscription -->
</body>
</html>